@page "/"

<PageTitle>Home</PageTitle>

<h2>CSS Table</h2>
<div class="css-table">
    <div class="css-table-header">
        <div>Todo</div>
        <div>Doing</div>
        <div>Done</div>
    </div>

    <div class="css-table-body">
        <div class="css-table-row">
            <div id="1" class="dropable" ondrop="drop(event)" ondragover="true"></div>
            <div id="2" class="dropable" ondrop="drop(event)" ondragover="true"></div>
            <div id="3" class="dropable" ondrop="drop(event)" ondragover="true"></div>
        </div>
    </div>
</div>
